

.navbar{
	margin-bottom: 0%;
}
.navbar:hover{
	background-color: #fff;
	color: #EEA200;
}


.landing {
	background-image: url("../img/pizza2.jpg");
	background-size: cover;
	margin-top:0px;
	padding-top: 0px;
	height:700px;
}

.head {
	margin:auto;
}

.menuItem{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	width:300px;
}